<html>
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Search Tweet</title>
    </head>
    <body>
        <table style="width:100%">
            <!-- table header -->
            {% if sentiment_ar %}
            <tr>
               {% for key in sentiment_ar[0] %}
               <th> {{ key }} </th>
               {% endfor %}
            </tr>
            {% endif %}
          
            <!-- table rows -->
            {% for dict_item in sentiment_ar %}
            <tr>
               {% for value in dict_item.values() %}
               <td> {{ value }} </td>
               {% endfor %}
            </tr>
            {% endfor %}
          </table>
          <div class="row>">
                <form action="submit-tweet" class="form-group form">
                    <input type="text" class="input" name="phrase" /> 
                    <input type="submit" class="btn btn-success btn-large" value="Tweet!!!"/>
                </form>
            </div>
    </body>
</html>